header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: black;
    position: relative;
    height: 5rem;
}

.header-left-links {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--ff-secondary);
}

.header-left-link {
    color: white;
    font-size: 1rem;
}

@media screen and (min-width: 600px) {

    .header-left-link {
        font-size: 1.25rem;
    }
}

.header-left-link--second {
    padding-left: .5em;
}

.header-left-link--second:hover,
.header-left-link--second:focus {
    color: #fff;
    text-decoration: underline;
}

.header-left-link--first {
    width: 126px;
    height: 2rem;
}

.nav {
    position: absolute;
    width: 100%;
    color: white;
    background: #191a1b;
    border-top: 1px solid rgba(255, 255, 255, .5);
    left: 0;
    top: 5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    visibility: hidden;
    padding: 2rem 1rem;
}

.mobile-search-container {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    padding: 1.25em 1.5em;

}

.mobile-search-container-inner {
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}

.mobile-search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2em;
}

.mobile-search-input {
    display: block;
    width: 100%;
    height: auto;
    padding: .5em 1em;
    font-size: 1.25rem;
    font-family: var(--ff-secondary);
    font-weight: var(--ff-reg);
    line-height: 28px;
    color: #000000;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;

    /* transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; */
}

.mobile-search-input::placeholder {
    opacity: 1;
}

.search-close-button {
    font-size: var(--fs-body);
    border-color: transparent;
    padding: .5rem 1rem;
}

.nav__link {
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    font-size: 1.5rem;
    border-radius: 0;
    width: 50%;
    transition: color .3s;
    text-align: center;
    cursor: pointer;
}

.nav__link-first {
    border-bottom: .5px solid white;
}

.nav__link:hover,
.nav__link:focus {
    color: rgba(255, 255, 255, .6)
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    color: white;
}

.search-toggle {
    background-image: url(/search.svg);
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    transition: transform .3s ease-in-out;
}

.search-toggle:focus,
.search-toggle:hover {
    transform: scale(1.1);
}

.header-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-open {
    background: #191a1b;
}

.search-open .mobile-search-container {
    display: block;
    visibility: visible;
}

.search-open .header-button-group {
    display: none;
    visibility: hidden;
}

.nav-open .nav {
    visibility: visible;
    display: flex;
    background: #191a1b;
}

.hamburger {
    display: block;
    position: relative;
    color: white;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: white;
    width: 2em;
    height: 2px;
    border-radius: 4px;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 8px;
}

.hamburger::after {
    bottom: 8px;
}



.border-left {
    border-left: 2px solid white;
}


@media screen and (min-width: 1200px) {

    header {
        padding: 1em 3em;
    }

    .header-left-links {
        width: 30%;
        font-size: 1.5rem;
    }

    .nav {
        display: flex;
        background-color: transparent;
        visibility: visible;
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
        width: 65%;
    }


    .nav__link {
        color: inherit;
        --spacing: 1.3em;
        display: inline-block;
        padding: calc(var(--spacing) / 4) var(--spacing);
        position: relative;
        letter-spacing: 1px;
        font-size: 1.5rem;
        cursor: pointer;
        width: auto;
    }

    .nav__link-first {
        border: 1px solid white;
        color: white;
        background-color: #191a1b;
        border-radius: 8px;
    }

    .nav__link-second {
        background-color: #4C5FD5;
        border-radius: 8px;
        border-color: #4C5FD5;
        transition: all 0.3s ease
    }

    .nav__link:hover,
    .nav__link:focus {
        color: unset;
    }

    .nav__link-second:focus,
    .nav__link-second:hover {
        background-color: white;
        color: black;
        border-color: white;
    }

    .header-button-group {
        display: none;
        visibility: hidden;
    }
}