.services {
    padding: 4rem 4rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-family: var(--ff-primary);
    justify-content: space-around;
}

.service-container {
    display: flex;
    width: 100%;
    margin-block: 2.5em;
}

.service-details-title {
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.service-detail {
    margin-bottom: 1em;
}

.service-detail-link {
    color: #4C5FD5;
    font-size: inherit;
}

.service-detail-link:hover,
.service-detail-link:focus {
    text-decoration: underline;
}

.service-image-container {
    min-width: 70px;
    max-height: 100px;
    margin-right: 1em;
}

@media screen and (min-width: 800px) {
    .services {
        padding: 4rem 3rem;
        font-size: 1.5rem;
    }

    .service-container {
        width: 45%;
    }

    .service-image-container {
        max-height: 120px;
        margin-right: .8em;
    }
}